@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);
h1,
h2,
h3,
h4,
h5,
div,
p,
legend,
blockquote,
form,
input,
select,
fieldset {
  font-family: 'Open Sans', sans-serif !important;
}

/******** Index page ***********/

#index {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0 !important;
}

#index #wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 5%);
  transform: translate(-50%, 5%);
}

#index #left-side {
  border-right: 1px dashed #b2c831;
  padding-right: 100px;
}

#index #preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url("../img/loading.gif") no-repeat center center;
}

#index #headerlogo {
  color: #b2c831;
}

#index .register-info-wraper {
  border-radius: 15px;
}

#index #register-info {
  padding: 10px !important;
}

#index #register-info h2 {
  margin-left: 20px;
}

#index #register-info img {
  margin: 0 auto;
}

#index #register-info .thumbnail {
  padding: 0px;
}

#index #register-form .footer {
  padding-left: 20px;
  padding-right: 20px;
}

#index #register-form .footer h5 {
  color: white;
}

#index #footerwrap {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  #index #left-side {
    border-right: none;
    padding-right: 0px;
  }

  #index #right-side {
    background-color: #3d3d3d;
  }
}
/******** Dashboard page ***********/

#dashboard {
  padding-top: 30px;
}

#dashboard .btn {
  padding: 10px 20px;
  border-color: #333333;
  background-color: #333333;
  box-shadow: none;
  font-weight: 500;
  border-radius: 0px;
}

#dashboard .btn:hover {
  background-color: #bdbdbd;
}

#dashboard .dash-unit a.btn {
  margin: 0 auto;
}

#dashboard .fa {
  color: #bdbdbd;
  font-size: 25px;
}

#dashboard .fa-ul li {
  padding-top: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dashboard .first_column {
  width: 48.7%;
  float: left;
}

#dashboard .second_column {
  width: 48.6%;
  float: right;
}

@media (max-width: 768px) {
  #dashboard .first_column,
  #dashboard .second_column {
    clear: both;
    width: 100%;
  }
}