$maincolor: #b2c831;
$secondarycolor: #3d3d3d;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);

h1,
h2,
h3,
h4,
h5,
div,
p,
legend,
blockquote,
form,
input,
select,
fieldset
 {
    font-family: 'Open Sans', sans-serif !important;
}

/******** Index page ***********/
#index {
    position: relative;
    overflow-x: hidden;
    padding-bottom: 0!important;

    #wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 5%);
    }

    #left-side {
        border-right: 1px dashed $maincolor;
        padding-right: 100px;
    }

    #preloader {
        position: fixed; 
        left: 0; 
        top: 0; 
        z-index: 999; 
        width: 100%; 
        height: 100%; 
        overflow: visible; 
        background: #333 url('../img/loading.gif') no-repeat center center;
    }

    #headerlogo {
        color: $maincolor;
    }

    .register-info-wraper {
        border-radius: 15px;
    }

    #register-info {
        padding: 10px!important;

        h2 {
            margin-left: 20px;
        }
        img {
            margin: 0 auto;
        }
        .thumbnail {
            padding: 0px;
        }
    }

    #register-form {
        .footer {
            padding-left: 20px;
            padding-right: 20px;

            h5 {
                color: white;
            }
        }
    }

    #footerwrap {
        margin-top: 10px;
    }

    @media(max-width:1200px) {

        #left-side {
            border-right: none;
            padding-right: 0px;
        }

        #right-side {
            background-color: $secondarycolor;
        }
    }
}